:root {
  --main-color: blue
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0 1.6rem;
  line-height: 1;
  font-weight: 400;
  color: var(--main-color);
  border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
}

.header {
  font-size: 2.6rem;
  max-width: 140rem;
  /* margin: 0 1.6rem; */
  border-bottom: 2px solid var(--main-color);
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: underline;
}

