:root {
  /* --main-color: #f06261; */
  --main-color: #0022EE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--main-color);
  margin: 0 2rem;
}

.body-container {
  margin: 0 auto;
  max-width: 140rem;
  border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color)
}

.header {
  font-size: 2.6rem;
  border-bottom: 2px solid var(--main-color);
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.heading-primary {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.about-section {
  margin: 3rem;
  max-width: 80rem;
  /* height: 90vh; */
}

.about-text {
  font-size: 2rem;
  /* letter-spacing: .12rem; */
  /* line-height: 1.2; */
  /* animation: letterspacing 2s ease */
}

@keyframes letterspacing {
  0% {
    letter-spacing: 1rem;
  }
  /* 30% {
    letter-spacing: 1rem;
  } */
  100% {
    letter-spacing: 0rem;
  }
}

.about-details {
  margin-top: 1.8rem;
}

.details summary{
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.details-list {
  list-style: none;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  
}

.career-container {
  padding: 1.4rem;
  border-top: 1px solid var(--main-color);
}

.career-summary-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.career-date {
  font-size: 1.4rem;
  width: 16rem;
  text-align: right;
}
.career-company {
  font-size: 1.4rem;
  margin-bottom: .2rem;
}
.career-title {
  font-size: 1.5rem;;
}



